<!-- transactions/templates/accounts/my_page.html -->

{% extends 'base.html' %}

{% load static %}

{% block title %}My Page{% endblock %}

{% block contents %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">

  <h2 class="my_page_h2">ようこそ</h2>

  <!-- ボタン -->
  <div class = 'button'>
    <a href="{% url 'accounts:input_transaction' %}"><button>貸し借りを入力</button></a>
    <a href="{% url 'accounts:transaction_list' %}"><button>貸し借りを確認</button></a>
    <a href="{% url 'moneycount:contact' %}"><button>お問い合わせ</button></a>
  </div>
  <!-- ログアウトボタン -->
  <form method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
  </form>
{% endblock %}
