<!-- transactions/templates/accounts/my_page.html -->

{% extends 'base.html' %}

{% load static %}

{% block title %}My Page{% endblock %}

<!-- <link href="{% static 'css/mypage_style.css' %}" rel="stylesheet"> -->


{% block contents %}

<link href="{% static 'css/mypage_style.css' %}" rel="stylesheet">

  <h2>Welcome to My Page</h2>

  <!-- ボタン -->
  <a href="{% url 'accounts:input_transaction' %}"><button>Entering Lending and Borrowing</button></a>
  <a href="{% url 'accounts:transaction_list' %}"><button>Check your lending and borrowing.</button></a>
  <a href="{% url 'moneycount:contact' %}"><button>Contact Us</button></a>

  <!-- ログアウトボタン -->
  <form method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endblock %}
