<!-- base.htmlのひな型を引っ張ってくる -->
{% extends 'base.html' %}

<!-- タイトルをぶっこむ -->
{% block title %}
    Mobey Count - Signin / Login
{% endblock %}

{% load static %}

<!-- 一番最初のページ用のもの -->
<!-- サインアップとログインを選べるページ -->
{% block contents %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<h2 class="akirame">CSSは諦めました！</h2>
<div class="first-buttons">
    <li><a href="{% url 'accounts:signup' %}" class="text-white">サインアップ</a></li>
    <li><a href="{% url 'accounts:login' %}" class="text-white">ログイン</a></li>
</div>
{% endblock %}
