<!-- moneycount/templates/registration/transaction_list.html -->

{% extends 'base.html' %}

{% block title %}Transaction List{% endblock %}

{% block contents %}
  <h2>貸し借りのリスト</h2>

  <ul>
    {% for transaction in transactions %}
      <li>
        {{ transaction.description }} - {{ transaction.amount }} - {{ transaction.date }}
        <a href="{% url 'accounts:transaction_confirm_delete' transaction.pk %}">削除</a>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'accounts:my_page' %}">マイページへ戻る</a>
{% endblock %}
